@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
}

.container {
  background-color: #1f2937;
  padding: 25px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 25px;
}

li a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
  margin-bottom: 100px;
}

.title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.subtext {
  font-size: 18px;
  color: #e5e7eb;
}

.image {
  background-color: gray;
  width: 500px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image .placeholder {
  color: #e5e7eb;
}

.hero button {
  background-color: #3882f6;
  padding: 6px 20px;
  border: none;
  color: #e5e7eb;
  border-radius: 6px;
  font-weight: 600;
  margin-top: 10px;
}

.hero-right {
  width: 600px;
}

.box {
  width: 100px;
  height: 100px;
  border: 3px solid #3882f6;
  border-radius: 10px;
}

.container-info {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-bottom: 80px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  text-align: center;
}

.title-information {
  font-size: 36px;
  color: #1f2937;
  text-align: center;
  font-weight: 900;
  padding: 30px;
}

.description {
  margin-top: 10px;
}

.quotations {
  background-color: #e5e7eb;
  padding: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quotes {
  font-size: 36px;
  font-style: italic;
  font-weight: light;
  color: #1f2937;
  width: 750px;
  margin-top: 70px;
}

.author-name {
  font-weight: bold;
  font-size: 20px;
  width: 600px;
  color: #1f2937;
}

.author {
  margin-left: auto;
}

.call-to-action {
  background-color: #3882f6;
  padding: 40px 60px;
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin: 50px auto;
}

.call-title {
  color: #f9faf8;
  font-weight: bold;
  font-size: 20px;
}

.subtitle {
  color: #e5e7eb;
  font-size: 16px;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
  border: 2px solid #f9faf8;
  padding: 4px 20px;
  border-radius: 6px;
}
